body {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fff;
}

a, p{
    font-size: 13px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

header, footer {
    height: 60px;
}

.full-height{
  overflow: hidden;
}

/********************************************
Begining of header

**********************************************/

.header {
    overflow: hidden;
    margin-left: 1040px;
}

.header-text{
    padding: 16px 5px;
    color: gray;
}

.header-image{
    padding: 10px 5px;
}

.header a{
  float: left;
  color: black;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
}

#apps {
    width: 30px;
    height: 30px;
    color: gray;
}

#mypic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: -2px;
    margin-left: 5px;
}

#notification {
    width: 23px;
    height: 23px;
    border-radius: 50%;
    padding: 3px 3px;
    margin: 8px 7px 0px 7px;
    background-color: gray;
    filter:invert(100%)
}
#myNotification{
  width: 20px;
}
/*********************************************

Begining of Body
**********************************************/

.body{
  text-align: center;
  padding: 8.7em 8em 4.0em 8em;
}

.boxShadow {
  padding: 10px;
  box-shadow: 0.5px 0.5px 2px 2px #dadada;
  border-radius: 2px;
  height: 1.3em;

}

.boxInput{
  border: none;
  display: flex;
  margin: 15px;
}

#searchBox{
  height: 2.7em;
  border-radius: 4px;
  border: none;
  width: 100%;
  margin: -7px -7px -7px -7px;
}

input#searchBox:focus {
    outline-width: 0;
}

.moveLeft{
  margin-left: 14.5em;
  width: 35em;
}


#microphoneIcon{
  width: 22px;
  height: 24px;
}

/******************************************

Begining of buttons
********************************************/
.buttons{
  margin: 2em;
}
.myButton{
  width:10em;
  height: 3em;
  border: 1px solid #f2f2f2;
  border-radius: 2px;
  background-color: #f3f3f3;
  margin: 0px 0px 0px 10px;
  -webkit-transition-duration: 0.4s; 
  transition-duration: 0.4s;
}

.myButton:hover {
  border: 1px solid lightgray;
}

/*****************************************************

Footer Section
******************************************************/
#left-footer{
  text-align: left;
}

#right-footer{
  float: right;
}
.footer{
  background-color: #f3f3f3;
  height: 6em;
}

.footer-text{
  color: gray;
  margin: 9px 20px 9px 20px;
}

.first-footer {
  padding: 5px 0 5px 0;
}

.first-footer p {
  font-size: 15px;
  }

.myLine{
  border: 0.5px solid  lightgray;
  margin: -1px;

}